<section id="divisi" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>KEPENGURUSAN</h2>
      <p>Kepengurusan HIMATEKINFO Tahun 2021/2022</p>
    </div>

    <div class="row">

      <div class="col-lg-6">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
          <div class="pic"><img src="../landing/img/team/BPH.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <a href="/divisi-bph">
              <h4>BPH</h4>
            </a>
            <span>Badan Pengurus Harian</span>
            <% const bph = divisi.bph.substr(0, 100) %>
            <p><%= bph %> </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
          <div class="pic"><img src="../landing/img/team/ristek.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <a href="/divisi-ristek">
              <h4>RISTEK</h4>
            </a>
            <span>Riset dan Teknologi</span>
            <% const ristek = divisi.ristek.substr(0, 110) %>
            <p><%= ristek %> </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
          <div class="pic"><img src="../landing/img/team/kominfo.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <a href="/divisi-kominfo">
              <h4>KOMINFO</h4>
            </a>
            <span>Komunikasi dan Informasi</span>
            <% const kominfo = divisi.kominfo.substr(0, 110) %>
            <p><%= kominfo %> </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><img src="../landing/img/team/sbm.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <a href="/divisi-sbm">
              <h4>SBM</h4>
            </a>
            <span>Sosial Budaya Mahasiswa</span>
            <% const sbm = divisi.sbm.substr(0, 110) %>
            <p><%= sbm %> </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><img src="../landing/img/team/inroh.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <a href="/divisi-inroh">
              <h4>INROH</h4>
            </a>
            <span>Intelektual dan Kerohanian</span>
            <% const inroh = divisi.inroh.substr(0, 110) %>
            <p><%= inroh %> </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
          <div class="pic"><img src="../landing/img/team/sekret.jpeg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <a href="/divisi-sekret">
              <h4>KESEKRETARIATAN</h4>
            </a>
            <span>Kesekretariatan</span>
            <% const sekret = divisi.sekret.substr(0, 100) %>
            <p><%= sekret %> </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>