<div class="card shadow mb-4">
  <div class="card-header py-3">

    <!-- BUTTON TAMBAH DATA!!!! -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add_modal"
    >
      <i class="fas fa-plus"></i>
    </button>
    <!-- BUTTON TAMBAH DATA!!!! -->
    
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nama Divisi</th>
            <th>image</th>
            <th>Deskripsi</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < divisi.length; i++ ) { %>
          <tr>
            <td><%= divisi[i].namaDivisi %></td>
            <td>
              <img
                src="https://himatekinfouikabogor.onrender.com/<%= divisi[i].image %>"
                alt="image"
                width="60px"
              />
            </td>
            <td><%= divisi[i].deskripsi %></td>

            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Button group with nested dropdown"
              >
                <div class="btn-group btn-group-sm" role="group">
                  <button
                    id="btnGroupDrop1"
                    type="button"
                    class="btn btn-info dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a
                      class="dropdown-item"
                      href="/admin/divisi/<%= divisi[i].id %>"
                      >Edit</a
                    >
                    <form
                      action="/admin/divisi/<%= divisi[i].id %>?_method=DELETE"
                      method="post"
                    >
                      <button type="submit" class="dropdown-item">Hapus</button>
                    </form>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>